branches:
  only:
  - master
  - develop

sudo: required

language: minimal

services:
  - docker

env:
  global:
    - ARROW_VERSION=0.11.1
    - GHDL_IMAGE=ghdl/ghdl:ubuntu18-llvm-5.0

jobs:
  include:

    - stage: build
      name: [C++] fletcher
      script:
        # build fletcher image
        - docker build -t fletcher --build-arg ARROW_VERSION=$ARROW_VERSION .

        # test fletchgen with stringread example
        - docker run --rm -it -v `pwd`/hardware/test/fletchgen/stringread:/src -v `pwd`/hardware:/hardware -e "FLETCHER_HARDWARE_DIR=/hardware" fletcher -i src/test.fbs -o src/test_wrapper.vhd -n test -w test_wrapper -s src/test.fbs -d src/test.rb --sim src/sim_top.vhd -x src/test.srec
        # replace the srec path
        - sed -i -e 's/"src\/test.srec"/"src\/test\/fletchgen\/stringread\/test.srec"/' hardware/test/fletchgen/stringread/sim_top.vhd
        - docker run --rm -v `pwd`/hardware:/src $GHDL_IMAGE bash -c "shopt -s globstar && ghdl -i /src/**/*.vhd && ghdl -m --ieee=synopsys sim_top && ghdl -r -v --ieee=synopsys sim_top --stop-time=1ms"

    - &vhdl
      name: "[VHDL-93c] Sources"
      env: STD=93c
      before_script:
        - export SRC_PATH=hardware/vhdl
      script:
        # this imports all entities and runs analysis and elaboration
        - docker run --rm -e STD -v `pwd`/$SRC_PATH:/src ghdl/ghdl:ubuntu18-llvm-5.0 bash -c "shopt -s globstar && ghdl -i -v --std=$STD /src/**/*.vhd | grep entity | sed -e 's/entity //' | sed -e 's/ \*\*//' | xargs -L 1 ghdl -m --std=$STD --ieee=synopsys"

    - &vhdl-08
      <<: *vhdl
      name: "[VHDL-08] Sources"
      env: STD=08

    - <<: *vhdl-08
      name: "[VHDL-08] Tests"
      before_script:
        - export SRC_PATH=hardware/test
