name: Documentation

on:
  push:
    branches:
    - develop
  pull_request:

jobs:
  markdown-link-check:
    name: 'Check Markdown links'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: gaurav-nelson/github-action-markdown-link-check@v1

  book:
    name: Book
    runs-on: ubuntu-latest
    env:
      MDBOOK_VERSION: '0.4.1'
    steps:
    - uses: actions/checkout@v2
    - name: Install mdbook
      run: |
        mkdir -p $HOME/mdbook
        curl -L https://github.com/rust-lang/mdBook/releases/download/v$MDBOOK_VERSION/mdbook-v$MDBOOK_VERSION-x86_64-unknown-linux-gnu.tar.gz | tar xz -C $HOME/mdbook
        echo "::add-path::${HOME}/mdbook/"
    - name: Build
      run: mdbook build
      working-directory: docs
    - uses: actions/upload-artifact@v2
      with:
        name: book
        path: docs/book
 
  cpp:
    name: 'C++'
    runs-on: ubuntu-latest
    env:
      DOXYGEN_VERSION: '1.8.18'
    strategy:
      matrix:
        include:
        - module: fletchgen
          source: codegen/cpp/fletchgen
        - module: runtime
          source: runtime/cpp
    steps:
    - uses: actions/checkout@v2
    - name: Install doxygen
      run: |
        mkdir -p $HOME/doxygen
        curl -L http://doxygen.nl/files/doxygen-$DOXYGEN_VERSION.linux.bin.tar.gz | tar xz --strip-components=1 -C $HOME/doxygen
        echo "::add-path::${HOME}/doxygen/bin"
    - name: Doxygen
      run: doxygen
      working-directory: ${{ matrix.source }}
    - uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.module }}
        path: ${{ matrix.source }}/docs/html

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [book, cpp]
    if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: book
    - uses: actions/download-artifact@v2
      with:
        name: fletchgen
        path: api/fletchgen
    - uses: actions/download-artifact@v2
      with:
        name: runtime
        path: api/fletcher-cpp
    - uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: .
